body {
  /*  font-family: "Times New Roman", serif;*/
}

.navbar {
  background-color: #FFF;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.10);
}

.vi-tabs-wrapper {
  max-width: 720px;
  padding: 0;
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: -108px;
}

.vi-tabs li.active>a {
  background: none !important;
  box-shadow: inset 0 -2px #555;
}

.vi-main {
  height: 100%;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  margin: 0;
}

.vi-1-toolbar {
  max-width: 720px;
}

.vi-1-toolbar .nav-tabs {
  margin: 1em 0;
}

#vi-1 {
  height: 100%;
}

.vi-1-main {
  margin: 1.5% auto;
  max-width: 720px;
}

.editor-toolbar,
.CodeMirror {
  border: none;
  border-bottom: 1px solid #DDD;
  transition: 0.3s;
  padding-left: 0;
  padding-right: 0;
}

.CodeMirror {
  min-height: 75vh;
}

.vi-2-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  overflow: scroll;
}

.vi-2-preview {
  display: table-cell;
  background-color: #EEE;
  width: auto;
  height: 100%;
  overflow: scroll;
  vertical-align: top;
}

.vi-2-preview>div {
  max-width: 720px;
  background-color: #FFF;
  margin: 4em auto;
  padding: 2em 4em;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.10);
  transition: 0.3s;
}

.vi-2-preview>div img {
  width: 100%;
}

.vi-2-themes {
  display: table-cell;
  width: 360px;
  overflow: scroll;
  background-color: #EEE;
  border-left: 1px solid #DDD;
  padding: 12px;
}

.vi-sidebar-title {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: #888;
}

.vi-2-theme {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.10);
  background-color: #FFF;
  border-radius: 2px;
  display: block;
  margin-bottom: 8px;
}

.vi-2-theme-controls {
  padding: 12px;
  display: table;
  width: 100%;
}

.vi-2-theme-title {
  display: table-cell;
  width: 9999px;
  font-weight: bold;
}

.vi-2-theme-controls button {
  display: table-cell;
}

.vi-2-upload {
  text-align: center;
  padding: 16px;
  border: 1px solid #AAA;
  border-radius: 2px;
  color: #888;
  display: block;
}

.vi-3-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  overflow: scroll;
}

.vi-3-tools {
  display: table-cell;
  width: 360px;
  overflow: scroll;
  background-color: #EEE;
  border-left: 1px solid #DDD;
  padding: 12px;
}

.vi-3-publish button {
  font-size: 1em;
  border-radius: 2px;
  height: 48px;
}

.vi-3-publish-email {
  border-color: #2196F3;
  color: #2196F3;
}

.vi-3-publish-wechat {
  border-color: #8BC34A;
  color: #8BC34A;
}
