.vit-orange-dot {
  font-family: Helvetica, sans-serif;
}

.vit-orange-dot h1 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -0.25px;
}

.vit-orange-dot h1:before {
  display: inline-block;
  vertical-align: middle;
  content: "●";
  color: #F9471D;
  font-size: 96px;
  line-height: 0;
  margin-bottom: 16px;
  margin-left: -16px;
}

.vit-orange-dot h2,
.vit-orange-dot h3,
.vit-orange-dot h4,
.vit-orange-dot h5,
.vit-orange-dot h6 {
  font-weight: bold;
  margin-top: 1em;
}

.vit-orange-dot a {
  color: #34CEC7;
}
