.vit-serif {
  font-family: Georgia, "Times New Roman", serif;
  padding: 16px;
}

.vit-serif h1 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 6px;
  color: #888;
  padding-bottom: 12px;
  border-bottom: 1px solid #888;
  margin-bottom: 2em;
}

.vit-serif h4,
.vit-serif h5,
.vit-serif h6 {
  font-weight: bolder;
  margin-top: 2em;
}

.vit-serif blockquote {
  border-left: 2px solid #000;
  margin: 24px;
  margin-left: -24px;
  padding: 24px;
}

.vit-serif p {
  line-height: 1.5;
}
