.markdown-markup {
    font-size:0;
}

.markdown-markup-show{
    font-size: inherit;
}
.verse-ink-newline-place-holder{
    font-size: inherit;
}
.verse-ink-caret{
    display:none;
}
.verse-ink-newline-holder:empty {
    display: block;
    height: 1em;
}
.markdown-text {
    display:inline;
}

.markdown-block{
    display:block;
    height:1em;
}